{#
{% block form_label_class -%}
    col-sm-3
{%- endblock form_label_class %}

{% block form_group_class -%}
    col-sm-9
{%- endblock form_group_class %}
#}

{% block email_with_hostname_widget %}
<div class="input-group">
    {{- block('form_widget_simple') -}}
    <span class="input-group-append">
        <span class="input-group-text">{{ hostname_part }}</span>
    </span>
</div>
{% endblock %}