{% extends "base.html.twig" %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">{% trans %}homepage.welcome{% endtrans %}</h1>
        <p class="lead">{% trans %}homepage.explaination{% endtrans %}</p>
        <hr class="my-4">
        <p>{% trans with { '%support_email%': support_email} %}homepage.support{% endtrans %}</p>
        <a class="btn btn-primary btn-lg" href="{{ path("postal_voting_register") }}" role="button">{% trans %}registration.register{% endtrans %}</a>
    </div>
{% endblock %}