{% extends "base.html.twig" %}

{% block content %}

    <div class="row">
        <div class="col-sm-3">
            <nav id="toc" data-toggle="toc" class="sticky-top"></nav>
        </div>
        <div class="col-sm-9 text-justify">
            {% block inner_content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}