{% extends "info_content_page.html.twig" %}

{% block inner_content %}
<h1>Anleitung zur Abstimmung per Brief</h1>

    <h2>Mitgelieferte Unterlagen</h2>
    Du hast per Post ein Abstimmungskit erhalten, das folgende Dinge enthalten sollte:
    <ul>
        <li><b>1 Wahlschein</b> (grauer DIN A4-Zettel)</li>
        <li><b>1 Stimmzettel</b> (kleiner bunt bedruckter Zettel)</li>
        <li><b>1 Stimmzettelumschlag</b></li>
        <li><b>1 Rückumschlag</b></li>
    </ul>
    Den grauen Umschlag mit Fenster, in dem die Unterlagen geliefert wurden, benötigst du nicht mehr.
    <br>
    Sollte etwas fehlen, kontaktiere bitte die Urabstimmungskommission unter <a href="mailto:urabstimmung@stura.uni-jena.de">urabstimmung@stura.uni-jena.de</a>.


    <h2>Abstimmung</h2>
    Wenn du alle benötigten Unterlagen vorliegen hast, kannst du abstimmen:
    <ol>
        <li><b>Fülle den Stimmzettel entsprechend deiner Meinung aus.</b> Für jeden Abstimmungstext muss genau ein Kreuz bei <i>Ja</i> oder <i>Nein</i> gesetzt werden.
            Das Ausfüllen des Stimmzettels muss persönlich und geheim passieren.</li>
        <li><b>Klappe den Stimmzettel zu und lege ihn in den Stimmzettelumschlag.</b> Achte darauf, dass nur der Stimmzettel im Stimmzettelumschlag liegt.</li>
        <li><b>Verschließe den Stimmzettelumschlag gut.</b> Ziehe dazu den Streifen vom Klebestreifen des Briefumschlages ab und klebe den Umschlag so zu.</li>
        <li><b>Fülle das Datum auf dem Wahlschein aus und unterschreibe die Erklärung eigenhändig.</b> Ohne Unterschrift kann deine Stimme leider nicht gezählt werden.</li>
        <li><b>Lege den unterschriebenen Wahlschein und den verschlossenen Stimmzettelumschlag in den Rückumschlag.</b></li>
        <li><b>Verschließe den Rückumschlag und schreibe deine Absenderadresse auf die Linien oben links auf dem Rückumschlag.</b></li>
    </ol>
    Der Rückumschlag ist jetzt versandfertig.

    <h2>Versand</h2>
    Für den Rückversand stehen dir verschiedene Möglichkeiten zur Verfügung
    <ul>
        <li>Du kannst den Briefumschlag am <b>Hauptgebäude der Universität</b> einwerfen. Nutze dafür den Fristenbriefkasten am Eingang Schlossgasse.</li>
        <li>Du kannst den Briefumschlag am <b>Hauptcampus in der Carl-Zeiss-Straße 3</b> einwerfen. Die Briefkästen findest du an der Wand rechts neben der Campuswache. Wirf deinen Brief in den großen Einwurf unten links ein.</li>
        <li>Wenn du dich nicht in Jena befindest (oder nicht in der Lage bist zu oben genannten Orten zu kommen), kannst du den Rückumschlag auch in einen <b>beliebigen Briefkasten der Deutschen Post</b> einwerfen.
            Es ist keine Frankierung notwendig, die Kosten für die Rücksendung trägt der Studierendenrat.
        </li>
    </ul>
{% endblock %}